<footer class="site-footer h-card">
    <data class="u-url" href="/"></data>

    <div class="wrapper">

        Site background credited to
        <a href="http://www.myfreetextures.com">http://www.myfreetextures.com</a>
        <p>
        <div class="footer-col-wrapper">
            <div class="footer-col footer-col-1">
                <ul class="contact-list">
                    <li class="p-name">Pratim Ugale</li>
                    <li><a class="u-email"
                            href="mailto:contact[dot]pratimugale@gmail.com">contact[dot]pratimugale@gmail.com</a></li>
                </ul>
            </div>

            <div class="footer-col footer-col-2">
                <ul class="social-media-list">
                    <li><a href="https://github.com/pratimugale"><svg class="svg-icon">
                                <use xlink:href="/assets/minima-social-icons.svg#github"></use>
                            </svg> <span class="username">pratimugale</span></a></li>
                    <li><a href="https://www.linkedin.com/in/pratimugale"><svg class="svg-icon">
                                <use xlink:href="/assets/minima-social-icons.svg#linkedin"></use>
                            </svg> <span class="username">pratimugale</span></a></li>
                </ul>
            </div>

            <div class="footer-col footer-col-3">
                <p>My personal website that covers my personal and professional interests ranging from software
                    development, music, number theory to quantum computing.</p>
            </div>
        </div>

    </div>

</footer>