body {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-repeat: repeat;
    background-image: url('/assets/images/background.png');
    mix-blend-mode: multiply;
}