<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}
  <head>
    <link rel="stylesheet" type="text/css" href="{{ "/assets/css/main.css" | relative_url }}">
    <link rel="stylesheet" type="text/css" href="{{ "/assets/css/expand.css" | relative_url }}">
    <script src="{{ "/assets/js/expand.js" | relative_url }}"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
  </head>

  <body>

    {%- include header.html -%}

    
    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
